{% extends 'base.html.twig' %}


    {% block main %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3> {{system.name}}</h3>
                    <hr class="under">
                    <p class="lead">
                        {{system.description}}
                    </p>
                    <p>
                        {{system.description}}
                    </p>
                    <ul class="list-unstyled">
                        <li>Year: {{system.year}}</li>
                        <li>Developer: {{system.developer}}</li>
                        <li>Publisher: {{system.publisher}}</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img class="card-img-top" src="{{ asset('uploads/img/system/'~system.image) }}" alt="Card image cap">
                </div>
            </div>
        </div>



    <div class="container">
        <button><a href="{{ path('system_list') }}">Back</a></button>
        <button><a href="{{ path("system_edit", {'id':system.id}) }}">Modify</a></button>
    </div>
    {% endblock %}


    {#{% block footer %}#}
    {#{% endblock %}#}

