{% extends 'base.html.twig' %}


    {% block main %}
<div class="container">
       <h2> {{rom.name}}</h2>
    
        {{rom.id}}
        {{rom.rating}}
        {{rom.publisher}}
        {{rom.developer}}
</div>
    {% endblock %}




    {% block footer %}
    {% endblock %}

